
    *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }


    body{
      background: #fff;
      font-family:sans-serif;
      margin-top: 5%
    }

    header{
      position: fixed;
      left:0;
      top:0;
      right:0;
      background-color: #9bd8bd ; 
    }

    nav{
    background-color:rgb(243, 142, 214);
  }

  nav img{
    width: 20%;
    float: left;
    margin: 15px 0;
  }

  nav ul{
        float: right;
        margin-top: 3%;
       }

  nav ul li{
    display:inline-table;
    margin: 1em;
  }

  .container aside, .container main{
    float:left;
  }

  aside{
    width:35%;
  }

  main{
    width:65%;
  }
  main section img.vision{
    width:100%;
  }
 


